<%- include("partials/header")  -%> 

<div class="hero">

<div class="hero-up">
    <div class="col-md-10 text-center pt-5">
        <h1 class="site-heading site-animate fadeInUp site-animated">Welcome to<br/> <strong class="d-block">crazyArtist</strong></h1>
        <strong class="d-block text-white text-uppercase letter-spacing">Reshaping Education..</strong>
        </div>
        <div class=" btn1 text-center">
            <a href="/login"><button type="button" class="btn btn-primary btn-lg">Log In</button></a>
        </div>
        <div class="btn1 text-center">
            <a href="/signup"><button type="button" class="btn btn-primary btn-lg">Sign Up</button></a>
</div>
</div>
</div>

<%- include("partials/footer")  -%> 